/*_____________________________________
    RESET
_____________________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*_____________________________________
    COMMON
_____________________________________*/

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}


/*_____________________________________
    RESET COLUMNS
_____________________________________*/

[class*="col-"] {
    flex: 0 0 auto;
}

/*_____________________________________
    MOBILE FIRST WIDTH 0PX - 575PX
_____________________________________*/


.col-0 {
    width: calc((100% / 12) * 0);
    max-width: calc((100% / 12) * 0);
}

.col-1 {
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}


/*OFFSET MOBILE FIRST WIDTH 0PX - 575PX*/

.col-offset-1 {    margin-left: calc((100% / 12) * 1);
}

.col-offset-2 {    margin-left: calc((100% / 12) * 2);
}

.col-offset-3 {    margin-left: calc((100% / 12) * 3);
}

.col-offset-4 {    margin-left: calc((100% / 12) * 4);
}

.col-offset-5 {    margin-left: calc((100% / 12) * 5);
}

.col-offset-6 {    margin-left: calc((100% / 12) * 6);
}

.col-offset-7 {    margin-left: calc((100% / 12) * 7);
}

.col-offset-8 {    margin-left: calc((100% / 12) * 8);
}

.col-offset-9 {    margin-left: calc((100% / 12) * 9);
}

.col-offset-10 {
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11 {
    margin-left: calc((100% / 12) * 11);
}

.col-offset-12{
    margin-left: calc((100% / 12) * 12);
}

/*UTILITIES MOBILE FIRST WIDTH 0PX - 575PX*/

.justify-start {
    justify-content: start;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-itmes-baseline {
    align-items: baseline;
}

.align-itmes-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: start;
}

.align-self-end {
    align-self: end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.alig-self-stretch {
    align-self: stretch;
}

.align-content-start {
    align-content: start;
}

.align-content-end {
    align-content: end;
}

.align-content-center {
    align-content: center;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}



/*_____________________________________
    RESPONSIVE
_____________________________________*/

/*_____________________________________
    MEDIA QUERIES SM MIN WIDTH 576PX
_____________________________________*/

@media all and (min-width: 576px) {

    .col-sm-0 {
        width: calc((100% / 12) * 0);
        max-width: calc((100% / 12) * 0);
    }
    
    .col-sm-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-sm-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-sm-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-sm-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-sm-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-sm-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-sm-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-sm-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-sm-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-sm-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-sm-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-sm-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*OFFSET MIN WIDTH 576PX*/
    
    .col-sm-offset-1 {        margin-left: calc((100% / 12) * 1);
    }
    
    .col-sm-offset-2 {        margin-left: calc((100% / 12) * 2);
    }
    
    .col-sm-offset-3 {        margin-left: calc((100% / 12) * 3);
    }
    
    .col-sm-offset-4 {        margin-left: calc((100% / 12) * 4);
    }
    
    .col-sm-offset-5 {        margin-left: calc((100% / 12) * 5);
    }
    
    .col-sm-offset-6 {        margin-left: calc((100% / 12) * 6);
    }
    
    .col-sm-offset-7 {        margin-left: calc((100% / 12) * 7);
    }
    
    .col-sm-offset-8 {        margin-left: calc((100% / 12) * 8);
    }
    
    .col-sm-offset-9 {        margin-left: calc((100% / 12) * 9);
    }
    
    .col-sm-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-sm-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }
    
    .col-sm-offset-12{
        margin-left: calc((100% / 12) * 12);
    }
    

    /*UTILITIES MIN WIDTH 576PX*/

    .justify-sm-start {
        justify-content: start;
    }

    .justify-sm-end {
        justify-content: end;
    }

    .justify-sm-center {
        justify-content: center;
    }

    .justify-sm-between {
        justify-content: space-between;
    }

    .justify-sm-around {
        justify-content: space-around;
    }

    .align-items-sm-start {
        align-items: start;
    }

    .align-items-sm-end {
        align-items: end;
    }

    .align-items-sm-center {
        align-items: center;
    }

    .align-itmes-sm-baseline {
        align-items: baseline;
    }

    .align-itmes-sm-stretch {
        align-items: stretch;
    }

    .align-self-sm-start {
        align-self: start;
    }

    .align-self-sm-end {
        align-self: end;
    }

    .align-self-sm-center {
        align-self: center;
    }

    .align-self-sm-baseline {
        align-self: baseline;
    }

    .alig-self-sm-stretch {
        align-self: stretch;
    }

    .align-content-sm-start {
        align-content: start;
    }

    .align-content-sm-end {
        align-content: end;
    }

    .align-content-sm-center {
        align-content: center;
    }

    .align-content-sm-around {
        align-content: space-around;
    }

    .align-content-sm-stretch {
        align-content: stretch;
    }
}

/*_____________________________________
    MEDIA QUERIES MD MIN WIDTH 768PX
_____________________________________*/

@media all and (min-width: 768px) {

    .col-md-0 {
        width: calc((100% / 12) * 0);
        max-width: calc((100% / 12) * 0);
    }
    
    .col-md-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-md-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-md-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-md-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-md-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-md-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-md-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-md-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-md-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-md-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-md-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-md-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*OFFSET MIN WIDTH 768PX*/
    
    .col-md-offset-1 {        margin-left: calc((100% / 12) * 1);
    }
    
    .col-md-offset-2 {        margin-left: calc((100% / 12) * 2);
    }
    
    .col-md-offset-3 {        margin-left: calc((100% / 12) * 3);
    }
    
    .col-md-offset-4 {        margin-left: calc((100% / 12) * 4);
    }
    
    .col-md-offset-5 {        margin-left: calc((100% / 12) * 5);
    }
    
    .col-md-offset-6 {        margin-left: calc((100% / 12) * 6);
    }
    
    .col-md-offset-7 {        margin-left: calc((100% / 12) * 7);
    }
    
    .col-md-offset-8 {        margin-left: calc((100% / 12) * 8);
    }
    
    .col-md-offset-9 {        margin-left: calc((100% / 12) * 9);
    }
    
    .col-md-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-md-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }
    
    .col-md-offset-12 {
        margin-left: calc((100% / 12) * 12);
    }

    /*UTILITIES MIN WIDTH 768PX*/

    .justify-md-start {
        justify-content: start;
    }

    .justify-md-end {
        justify-content: end;
    }

    .justify-md-center {
        justify-content: center;
    }

    .justify-md-between {
        justify-content: space-between;
    }

    .justify-md-around {
        justify-content: space-around;
    }

    .align-items-md-start {
        align-items: start;
    }

    .align-items-md-end {
        align-items: end;
    }

    .align-items-md-center {
        align-items: center;
    }

    .align-itmes-md-baseline {
        align-items: baseline;
    }

    .align-itmes-md-stretch {
        align-items: stretch;
    }

    .align-self-md-start {
        align-self: start;
    }

    .align-self-md-end {
        align-self: end;
    }

    .align-self-md-center {
        align-self: center;
    }

    .align-self-md-baseline {
        align-self: baseline;
    }

    .alig-self-md-stretch {
        align-self: stretch;
    }

    .align-content-md-start {
        align-content: start;
    }

    .align-content-md-end {
        align-content: end;
    }

    .align-content-md-center {
        align-content: center;
    }

    .align-content-md-around {
        align-content: space-around;
    }

    .align-content-md-stretch {
        align-content: stretch;
    }
    
    
}

/*_____________________________________
    MEDIA QUERIES LG MIN WIDTH 992PX
_____________________________________*/

@media all and (min-width: 992px) {

    .col-lg-0 {
        width: calc((100% / 12) * 0);
        max-width: calc((100% / 12) * 0);
    }
    
    .col-lg-1 {
        width: calc((100% / 12) * 1);
        max-width: calc((100% / 12) * 1);
    }
    
    .col-lg-2 {
        width: calc((100% / 12) * 2);
        max-width: calc((100% / 12) * 2);
    }
    
    .col-lg-3 {
        width: calc((100% / 12) * 3);
        max-width: calc((100% / 12) * 3);
    }
    
    .col-lg-4 {
        width: calc((100% / 12) * 4);
        max-width: calc((100% / 12) * 4);
    }
    
    .col-lg-5 {
        width: calc((100% / 12) * 5);
        max-width: calc((100% / 12) * 5);
    }
    
    .col-lg-6 {
        width: calc((100% / 12) * 6);
        max-width: calc((100% / 12) * 6);
    }
    
    .col-lg-7 {
        width: calc((100% / 12) * 7);
        max-width: calc((100% / 12) * 7);
    }
    
    .col-lg-8 {
        width: calc((100% / 12) * 8);
        max-width: calc((100% / 12) * 8);
    }
    
    .col-lg-9 {
        width: calc((100% / 12) * 9);
        max-width: calc((100% / 12) * 9);
    }
    
    .col-lg-10 {
        width: calc((100% / 12) * 10);
        max-width: calc((100% / 12) * 10);
    }
    
    .col-lg-11 {
        width: calc((100% / 12) * 11);
        max-width: calc((100% / 12) * 11);
    }
    
    .col-lg-12{
        width: calc((100% / 12) * 12);
        max-width: calc((100% / 12) * 12);
    }
    
    
    /*OFFSET MIN WIDTH 992PX*/
    
    .col-lg-offset-1 {        margin-left: calc((100% / 12) * 1);
    }
    
    .col-lg-offset-2 {        margin-left: calc((100% / 12) * 2);
    }
    
    .col-lg-offset-3 {        margin-left: calc((100% / 12) * 3);
    }
    
    .col-lg-offset-4 {        margin-left: calc((100% / 12) * 4);
    }
    
    .col-lg-offset-5 {        margin-left: calc((100% / 12) * 5);
    }
    
    .col-lg-offset-6 {        margin-left: calc((100% / 12) * 6);
    }
    
    .col-lg-offset-7 {        margin-left: calc((100% / 12) * 7);
    }
    
    .col-lg-offset-8 {        margin-left: calc((100% / 12) * 8);
    }
    
    .col-lg-offset-9 {        margin-left: calc((100% / 12) * 9);
    }
    
    .col-lg-offset-10 {
        margin-left: calc((100% / 12) * 10);
    }
    
    .col-lg-offset-11 {
        margin-left: calc((100% / 12) * 11);
    }
    
    .col-lg-offset-12 {
        margin-left: calc((100% / 12) * 12);
    }

    /*UTILITIES MIN WIDTH 992PX*/

    .justify-lg-start {
        justify-content: start;
    }

    .justify-lg-end {
        justify-content: end;
    }

    .justify-lg-center {
        justify-content: center;
    }

    .justify-lg-between {
        justify-content: space-between;
    }

    .justify-lg-around {
        justify-content: space-around;
    }

    .align-items-lg-start {
        align-items: start;
    }

    .align-items-lg-end {
        align-items: end;
    }

    .align-items-lg-center {
        align-items: center;
    }

    .align-itmes-lg-baseline {
        align-items: baseline;
    }

    .align-itmes-lg-stretch {
        align-items: stretch;
    }

    .align-self-lg-start {
        align-self: start;
    }

    .align-self-lg-end {
        align-self: end;
    }

    .align-self-lg-center {
        align-self: center;
    }

    .align-self-lg-baseline {
        align-self: baseline;
    }

    .alig-self-lg-stretch {
        align-self: stretch;
    }

    .align-content-lg-start {
        align-content: start;
    }

    .align-content-lg-end {
        align-content: end;
    }

    .align-content-lg-center {
        align-content: center;
    }

    .align-content-lg-around {
        align-content: space-around;
    }

    .align-content-lg-stretch {
        align-content: stretch;
    }
}