
/*_______________________

    HEADER
________________________*/


header {
    background-color: #2C3E50;
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-link {
    color: white;
}



/*_______________________

    MAIN
________________________*/


/*FIRST SECTION*/

.first-section {
    background-color: #1ABC9C;
}

.my-container-sm {
    width: 100%;
    margin: 0 auto;
}

/*THIRD SECTION*/

.third-section {
    background-color: #1ABC9C;
}

.my-container {
    width: 70%;
    margin: 0 auto;
}

.line-first-section {
    width: 10%;
    border: 3px solid white;
    border-radius: .3125rem;
}

.line {
    width: 15%;
    border: 3px solid white;
    border-radius: .3125rem;
}


/*_______________________

    FOOTER
________________________*/

.footer-top {
    background-color: #3A546D;
}

.footer-bot {
    background-color: #2C3E50;
}


.footer-icons {
    max-width: fit-content;
}
