
/*_______________________

    HEADER
________________________*/


header {
    background-color: #2C3E50;
    color: white;
}

header ul {
    list-style: none;
    vertical-align: middle;

}

header ul li {
    display: inline-block;
    padding-left: 1.875rem;
}

header ul a {
    text-decoration: none;
    color: white;

}



/*_______________________

    MAIN
________________________*/


/*FIRST SECTION*/

.first-section {
    background-color: #1ABC9C;
}

.my-container-sm {
    width: 80%;
    margin: 0 auto;
}

/*THIRD SECTION*/

.third-section {
    background-color: #1ABC9C;
}

.my-container {
    width: 70%;
    margin: 0 auto;
}



/*_______________________

    FOOTER
________________________*/

.footer-top {
    background-color: #3A546D;
}

.footer-bot {
    background-color: #2C3E50;
}

/*_______________________

    RESPONSIVE
________________________*/

@media all and (min-width: 768px) { 
    .my-container-sm {
        max-width: 50%;
    }
}




/*_______________________

    DEBUG
________________________*/

.debug .first-section .my-container-sm {
    background-color: deepskyblue;
}

.debug .first-section .my-container-sm .col {
    border: 2px solid white;
}

.debug .second-section .row > * {
    background-color: #BA4B63;
}

.debug .my-container {
    border: 2px solid black;
}

.debug .third-section .col,.col-12 {
    border: 2px solid darkviolet;
    margin: 0;
    color: white;
}